  img{
    margin-right: 15px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    vertical-align: middle;
  }
  button{
    background:white;
    border-radius:10px;
    height:65px;
    border:1px solid lightgray;
    width:350px;
    margin-bottom: 15px;
    margin-right:10px;
    text-align:left;
    cursor:pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  button:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  div{
    width:90%;
    margin-left:140px;
    padding:20px 0px;
  }
  div form{
      float:left;
      
  }
  @media screen and (max-width: 480px) {
    div{
      margin-left:20px;
    } 
  }