*{
  box-sizing: border-box;
}
.search{
  position: absolute;
  margin-left: 320px;
  width:700px;
  height: 50px;
  margin-top: -70px;
}
::placeholder{
  font-size: 15px;
}
form a button img{
    margin-right: 15px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    vertical-align: middle;
  }
 form a button{
    background:white;
    border-radius:10px;
    height:65px;
    border:1px solid lightgray;
    width:350px;
    margin-bottom: 15px;
    margin-right:10px;
    text-align:left;
    cursor:pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  form a button:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .btn_form_div{
    width:90%;
    margin-left:140px;
    padding:20px 0px;
    margin-top: 200px;
  }
  .btn_form_div form{
      float:left;   
  }
  @media screen and (max-width: 480px) {
    .btn_form_div{
      margin-left:20px;
    }
    .search{   
      height: 40px;
      margin-top: -70px;
      margin-left: 22px;
      width:350px;
    } 
  }